[2015-11-17 00:11] hassox opened #3 "full_url in helpers is using the port of the connection to overwrite things like the callback_url"
On heroku we're getting a forwarded port of 443 -> 80 which makes the callback port incorrect (it's inserting a port 80 into a https url)

[2015-11-17 00:11] scrogson commented on #3
I will fix this up tonight.

[2015-11-18 18:34] chrismccord opened #4 "Consider using a normal plug, with less code generation"
Ideally, you wouldn't need to break from the regular plug api, so instead of this:

    Ueberauth.plug "/auth"

You could do

    plug Ueberauth, strategy: MyStrategy

or

    plug Mystrategy

As it is today, calling `Ueberauth.plug` generates an external module from the caller, which is a sign we can probably find a better way, such as having the user define an explicit module that `use UeberAuth

[2015-11-18 18:36] scrogson commented on #4
:+1:

[2015-11-19 16:35] hassox commented on #4
The Ueberauth.Strategy has a different role than what this module provides, this module is constructing the route matching.

I've seen quite a few pubs that provide a macro to setup routes. I'll catch up with @scrogson and see what options we can rustle up

[2015-11-19 16:40] chrismccord commented on #4
In either case, the generated module should be one that the user explicitly defines, then they plug that in the router

[2015-11-19 16:53] chrismccord commented on #4
For example, it seems the entire code generation could be a normal `UeberAuth` plug module, which accepts options from the plug, i.e.:

[code]

[2015-11-23 22:13] scrogson commented on #4
Thanks for the feedback @chrismccord.

[2015-11-23 22:13] #4 closed

[2015-11-30 15:17] imranismail opened #12 "Error when plugging the Ueberauth module"
[code]

[2015-11-30 15:22] #12 closed

[2015-12-01 20:38] emoragaf commented on #12
@imranismail i'm having the same error, how did you fix it?

[2015-12-02 06:53] scrogson commented on #12
@imranismail it appears to have been the typo in this PR: https://github.com/ueberauth/ueberauth_identity/pull/4

[2016-03-10 04:40] venkatd opened #15 "Best practice for connecting multiple accounts"
First of all, thanks for the great library.

I was wondering if there's a best practice for allowing a user to connect multiple accounts. For example:
- Login with Google by navigating to `/auth/google`
- Create user record abc in the database and store the auth details
- Login with GitHub by navigating to `/auth/github?access_token=access_token_abc`
- In `/auth/github/callback` I tie the account

[2016-03-16 14:32] venkatd commented on #15
Here's what I ended up doing...

I made a plug that packs up the query params into the state property which persists between `auth/github` and `auth/github/callback`

**Usage**
[code]

[code]

[2016-03-20 20:26] hassox commented on #15
Nice! Do you think this is something that should go into Ueberauth and be available to all the OAuth 2 strategies?

[2016-03-21 11:04] lolmaus opened #16 "Demo app: GitHub auth broken"
After clicking "Sign in with GitHub" I immediately see "Failed to authenticate."

[2016-03-25 18:16] develop7 commented on #15
@hassox I, for one, want this functionality in Ueberauth.

[2016-03-27 15:13] venkatd commented on #15
@hassox yes I think it should as connecting multiple accounts is fairly common.

Would be good to get some feedback on improving the current implementation... I've been using Elixir ~2 months so might not be doing things idiomatically.

[2016-03-27 19:31] sobolevn opened #17 "writing a custom strategy"
I'm working on a project with the need for server-side social-auth. Your library seems pretty good, but there's a strategy missing. I would like to use https://vk.com/ OAuth (the biggest SN in Russia), but it is not in the list.

What do you think, is it worth implementing? Do you have any guidelines how to contribute whole new strategy?

Thanks!

[2016-03-27 21:00] doomspork commented on #17
@sobolevn you can take a look at the strategies we currently have for an example of how to create a new one.  Whether or not it's worth implementing is up to you :grinning:

I've been adding strategies as I have a need for them, that way they don't go unused and get stale.

[2016-03-27 21:01] doomspork commented on #16
@lolmaus can you file this issue under the appropriate repo please?  Thanks

[2016-03-27 21:01] #16 closed

[2016-03-31 10:32] aef- opened #18 "Add a redirect_uri function so that the redirect_uri is configurable"
Hi there! Currently I'm using only the callback functionality of ueberauth (specifically Facebook and Google). My client grabs the access code and then sends it to my API in order to retrieve the token. On dev I'm running my API and client on separate ports, so to support how most ueberauth's implement handle_callback by setting the redirect_uri as so: `opts = [redirect_uri: callback_url(conn)]`,

[2016-04-03 17:57] sobolevn commented on #17
Hi! I have implemented a strategy for the vk. Check it out: https://github.com/sobolevn/ueberauth_vk

[2016-04-03 18:13] doomspork commented on #17
That's awesome @sobolevn!

@hassox & @scrogson what do you think about adding a README section or Wiki page with a list of strategies?

[2016-04-03 18:31] sobolevn commented on #17
I am also wondering how to test it? In development I have used `ueberauth_example` app with modifications to test it.

[2016-04-03 18:44] doomspork commented on #17
That's a good question @sobolevn, that's what I've been doing too.  We've been bouncing around ideas about how to best test strategies.  Suggestions are welcome!

[2016-04-17 16:35] doomspork commented on #18
@aef- PRs are welcome for new functionality 👍

[2016-04-17 16:50] doomspork commented on #17
@sobolevn I've added a list of strategies to our Wiki, feel free to add yours: https://github.com/ueberauth/ueberauth/wiki/List-of-Strategies

In the mean time, join us on Slack in #ueberauth, and help us come up with a clever way to test strategies.

[2016-04-17 16:50] #17 closed

[2016-05-06 08:24] fsoeltoni opened #20 "Api Login"
is there any way to implement this using api ? if i wanna use it to authenticate token from mobile device ?

[2016-05-07 09:43] sobolevn opened #21 "Extra field on `%Info{}` struct"
Should we consider adding an extra field to the `%Info{}` struct? Like we already have `other_params` on `token`.

It is handy to store extra information from the social provides, such as: age, gender, birthdays, hometown, and so on.

Any drawbacks I am missing?

[2016-05-09 12:40] Trevoke commented on #21
I think the ability to extend the permissions for retrieved info might be good, but it's also beyond the direct scope of Ueberauth, whose responsibility is only to authenticate. Authentication has nothing to do with a person's age.

So, maybe an extension / add-on for Ueberauth?

[2016-05-09 12:57] sobolevn commented on #21
Anyway it is defined already: https://github.com/ueberauth/ueberauth/blob/master/lib/ueberauth/auth/info.ex

[2016-05-11 05:00] hassox commented on #20
Can you please explain a little more about what you're wanting to do?

[2016-05-11 05:01] hassox commented on #21
As @doomspork pointed out to me the other day we can use the `Auth.Extra` struct to store arbitrary data that is not handled by the other struct. https://github.com/ueberauth/ueberauth/blob/master/lib/ueberauth/auth/extra.ex

[2016-05-11 05:01] #21 closed

[2016-05-13 11:51] fsoeltoni commented on #20
I mean when you piping trough api instead of browser

[2016-05-22 18:36] hassox commented on #20
If you're piping through an api pipeline rather than browser it sounds like you're into Guardian territory. There's nothing specifically in ueberauth that relies on the session. I'm sorry to go back again, but can you outline what you're trying to do?

[2016-06-05 04:53] nicooga commented on #18
I don't wheter this is related, but I'm also working with a single page application and an elixir API.
I'm using https://github.com/sahat/satellizer to fire the popups on the single page, then `POST`ing with code to the API. The result is an ueberauth error `redirect_uri_mismatch`.

[code]

I'm not sure how to continue, I'm pretty sure I've configured well the allowed redirect uris on google conso

[2016-06-05 05:27] nicooga commented on #18
Indeed, made a fork to implement this functionality and that worked for me.

[code]

Making a PR ASAP.

[2016-06-07 16:20] danielberkompas commented on #20
I have a similar issue. I want a mobile app to be able to post an OAuth token to my API authentication endpoint. I then want to be able to run that token through Ueberauth and get back an `Ueberauth.Auth` struct, which I can then use to authenticate the user the same way I do for regular web requests.

Right now, it isn't clear if there's a way to use Ueberauth without using the plugs, or if you s

[2016-06-20 07:48] Gacnt opened #24 "I would like to create a Steam strategy using OpenID"
Is there any sort of starter kit for making a strategy, or do I need to basically copy pasta somebody elses strategy and change what needs to be changed, also does Guardian support OpenID as well?

[2016-07-05 05:29] jasonrig opened #27 "trailing slashes affect oauth redirection"
Hi,
There currently seems to be an issue where the presence of a trailing slash will fallback to rendering the request template (e.g. [this template](https://github.com/ueberauth/ueberauth_example/blob/master/web/templates/auth/request.html.eex) in the example code) rather than redirecting to the OAuth service.

https://ueberauth-example.herokuapp.com/auth/google works
https://ueberauth-example.he

[2016-07-12 07:08] swennemans commented on #20
I also struggle(d) with this. But it's mostly based on a misunderstanding of what the goal of this library is. That being said, if if say something misinformed here please comment :)

IMO this sums up the goal of the library nicely:

So the goal is only acquiring the user's information. For example when working with a mobile application (as in my case) there is a big chance you don't need this lib

[2016-07-12 14:36] danielberkompas commented on #20
@swennemans I'm not sure that really works. If your client app doesn't post an OAuth token to your API to authenticate, how _does_ it authenticate? Do you require your users to type in a password even after they've logged in via OAuth on the client app?

[2016-07-13 07:00] swennemans commented on #20
@danielberkompas I was wondering the same thing. Currently I'm using [react-native-fbsdk](https://github.com/facebook/react-native-fbsdk). And I'm experimenting with the following flow:
- Login / Signup with Facebook button;
- This will transit user to Facebook login/screen;
- If an user fills in valid login information, it will return a token;
- This token is **only** useful to querying the user

[2016-07-15 15:38] danielberkompas commented on #20
Do you query Facebook for user information on the mobile app or on the server?

If on the mobile app, what do you then send to the server to prove the user is authenticated, in exchange for the Guardian token?

If on the server, how does the server get the Facebook token if you don't send it to the server and don't use Ueberauth to fetch information?

[2016-07-17 09:49] swennemans commented on #20
@danielberkompas Thanks for your reply. I'm still exploring things, and I'm reconsidering my approach after your last comment. Thanks 👍 .

Possibly a better alternative is:
- Get FB accessToken on the client;
- Send this token to the server, on the server do a request to (in my case) Facebook's graph API, https://graph.facebook.com/v2.7/1165480120160866?access_token=MY_TOKEN, and request the neede

[2016-07-18 20:03] doomspork commented on #18
This has been merged into master.  I'll release a new version later this evening, ideally with #28 included.

[2016-07-18 20:03] #18 closed

[2016-07-19 17:52] doomspork commented on #27
This is resolved, thank you @jasonrig 👍

[2016-07-19 17:52] #27 closed

[2016-07-19 17:54] danielberkompas commented on #20
The flow you suggest there is exactly what I'm doing.

Because Ueberauth doesn't provide a good interface for querying the Facebook API and getting an Ueberauth.Auth struct back, I had to copy paste a lot of code out of Ueberauth in order to request information from Facebook/etc with the token I received from the mobile app.

[2016-07-20 09:22] aquarhead opened #29 "Version 0.3 is missing docs on hexdocs.pm"
Both `Online Documentation` and the `docs` link of version 0.3.0 redirects to this:

https://hexdocs.pm/ueberauth/README.md.html

which says "PAGE NOT FOUND".

[2016-07-20 14:20] doomspork commented on #29
@aquarhead this is now fixed, thank you 👍

[2016-07-20 14:20] #29 closed

[2016-07-20 17:13] aquarhead commented on #29
hmm... seems the link on hex.pm is still wrong.. I can download the docs, but when open it from my disk, it redirects to `file:///Users/aquarhead/Downloads/ueberauth-0.3.0/extra-api-reference.html` and not `/ueberauth/README.md.html`

It seems 0.2 version's `docs` link to a similar page as on my disk, but 0.3's link is wrong.

[2016-07-20 17:30] doomspork commented on #29
@aquarhead I'm not sure if this is our issue or a caching issue with Hex.  The 0.3.0 doc link works: https://hexdocs.pm/ueberauth/0.3.0/extra-api-reference.html

[2016-07-20 17:30] doomspork commented on #29
@hassox any ideas on this one?  I'm not particularly familiar with hexdocs

[2016-07-21 19:40] doomspork commented on #24
@Gacnt we don't currently have a kit for making strategies, copy+pasta is your best bet.  That said, if you've got suggestions for a kit I'd be open to hear them 😀

As for OpenID, I'm not sure.  Ueberauth is flexible and can work with most two-phase authentications schemes (OAuth, OAuth 2.0, Auth0).

[2016-07-22 16:35] zberkom opened #30 "How to submit a new Ueberauth Plugin?"
Hi there,

I've just written an Ueberauth plugin for Dwolla authentication and I'm just wondering what the protocol is to get it included under the Ueberauth github organization.

I will agree to maintain the project overtime, so it won't be something you guys have to take care of.

Just let me know what next steps I should take.

Thanks!

[2016-07-22 16:52] doomspork commented on #30
Hi @zberkom, for now we're only including strategies and projects under the Ueberauth org that are created and maintained by the team.

Feel free to include your strategy with the rest of them in the Wiki here: https://github.com/ueberauth/ueberauth/wiki/List-of-Strategies

[2016-07-22 19:28] zberkom commented on #30
@doomspork Great, thanks. I'll do that.

[2016-07-22 19:28] #30 closed

[2016-07-22 22:06] rorygreen opened #31 "Multiple paths per strategy no longer works"
I don't know if this was previously intentional behaviour but with v0.2.0 it was possible to configure a single provider multiple times to allow authentication at different paths:
[code]
Updating to v0.3.0, this no longer works. The provider defined first appears to be overridden by the latter. This results in an `UndefinedFunctionError` when accessing `/auth/facebook`, but `/signup/facebook` work

[2016-07-22 22:20] doomspork commented on #31
@hassox was this change intentional?  I'm assuming this is a bug.

[2016-08-02 17:28] nikkomiu opened #34 "Allow Config Option for Custom URLs"
Currently there is an option for adding custom paths but in certain cases there is a need to be able to use a custom URL instead of a custom path.

[2016-08-03 18:46] doomspork commented on #34
@hassox / @scrogson do you have any objections to supporting this new feature?

The particular case for which this came up is SSL termination with nginx, Ueberauth creates the callback with `http://` when `https://` is needed.

[2016-08-17 20:59] pinx opened #35 "Would like to create a Reddit strategy"
I read in another issue, on the OpenID strategy, that I start by copying. Which one of the existing strategies is closest to Reddit's system?

[2016-08-17 21:13] doomspork commented on #35
@pinx you'll need to figure that out by investigating the Reddit documentation and determining what they support.  If it's OAuth, then Twitter.  For OAuth2 either Facebook or Google should be sufficient.

[2016-08-19 12:37] secretworry opened #36 "Cannot get a correct callback_url for a forwarded request"
After I tried to forward the request to my controller handing the auth logic as below,
[code]
In the AuthController, I wouldn't be able to get a correct callback_url with the `\auth` prepended.

I think the reason is that when generating the callback_url, the `script_name` in `Plug.Conn` doesn't get considered.

[2016-08-19 14:43] #36 closed

[2016-08-19 14:46] secretworry commented on #36
I just noticed that the ueberauth is routed with request_path, i.e. doesn't support forward.

[2016-08-22 18:56] nambrot opened #37 "Best practice to deal with refresh tokens"
This might be related to https://github.com/ueberauth/ueberauth_google/issues/16, but I was wondering what the best practice around dealing with offline access/refresh tokens are?

[2016-09-10 19:01] stevedomin commented on #15
I've implemented something similar, I guess it would be nice to have it built into Ueberauth.

I've loosely followed this draft: https://tools.ietf.org/html/draft-bradley-oauth-jwt-encoded-state-03

[2016-09-13 05:13] omin opened #38 "Submit empty login/registration throws error"
[code]

[2016-09-13 05:14] omin commented on #38
Sorry wrong repo. Different tab :P

[2016-09-13 05:14] #38 closed

[2016-09-19 08:52] aphillipo commented on #15
Is state available in all oauth providers?  I read on stackoverflow somewhere that facebook had broken theirs, but I'd need to check for myself...

[2016-09-19 12:57] stevedomin commented on #15
@aphillipo not sure about all oauth providers but I didn't have any issues with both Google and Facebook so far

[2016-09-20 06:03] aphillipo commented on #15
Gah, I've built this using sessions... might switch over then.  @stevedomin how are you writing tests for say a Facebook or Google login - do you test the whole flow and mock facebook, say, or just the bits you can?  Sorry that I won't see you at Elixir London I'm in Japan :-D

[2016-09-22 01:59] #31 closed

[2016-09-26 10:55] stevedomin commented on #15
I want to mock the whole flow but I haven't done it yet.

(You missed out, Elixir London was great!)

[2016-09-27 07:51] omin opened #39 "Possible to rerequest if permission was denied?"
For example, Facebook OAuth lets users choose not to share requested permissions and this leads to failures. Is there a way to rerequest if a permission was denied?

I'd like to rerequest Facebook OAuth if an email was not given.

[2016-09-27 16:16] omin commented on #39
Decided to go with my own error handling.

[code]

[2016-09-27 16:16] #39 closed

[2016-10-26 16:35] radzserg opened #40 "Allow to add extra params to callback_url"
Would be good to have ability to pass extra params to callback_url. For example users can login and register, can register for different roles - user, advertiser, whoever.

If I could build callback_url from current conn params, e.g.  /auth/facebook?param1=val1&param2=val2
I could use these params in callback_phase to define what to do after successful sign in.

Most of strategies rely on callback

[2016-11-03 14:51] obsidienne opened #41 "I would like to create a passwordless strategy"
Hi,

Can you give me guidances to create a strategy following this principal: [passwordless auth](https://www.sitepoint.com/passwordless-authentication-works/)
[Medium.com](https://medium.com/) is an actual website using this auth pincipal.

Is it possible at least to create this strategy ?

Thanks

[2016-11-03 23:44] doomspork commented on #41
@obsidienne I do think this is something that could be accomplished with Ueberauth.  I'd need to consider the approach a bit more before I could provide guidance.

Any thoughts @hassox?

[2016-11-18 01:21] kelostrada commented on #41
I didn't read too much into the article, but I guess you want to make it work by sending an email with proper link to make user able to login? I don't think it should be really difficult to implement this tbh.

[2016-11-28 19:29] AlanMcCann opened #43 "OAuth2.Error at GET /auth/facebook/callback {:tls_alert, 'handshake failure'}"
I started running into this error in my application and resorted to seeing if the ueberauth_example app had the same issue and it does when updated to use the most recent Ueberauth (0.4) and strategy (Facebook 0.5, for example)

When trying to authenticate with Facebook, Github, or Google, I get the handshake failure alert

Has anyone else experienced this?

Thanks!

<img width="1250" alt="screen

[2016-12-02 00:43] shatteredaesthetic commented on #43
I can confirm; having the same issue.

I'm on Mac OSX 10.11.6
Elixir 1.3.3 / Erlang/OTP 19.1

[2016-12-02 08:12] hykw opened #44 "The "Intercept requests(#28)" is a glitch for Facebook login"
As of String.replace_trailing in "Intercept requests with and without a trailing slash(#28)", Facebook login doesn't work correctly.

Due to the replacing, `conn`, which will be passed to the callbacks(like following) don't include ueberauth_auth in assigns at all.

[code]

It works correctly without the code in [lib/ueberauth.ex](https://github.com/ueberauth/ueberauth/commit/ca31f6f711060deaf72c1

[2016-12-03 20:49] dotdotdotpaul commented on #40
I was trying to figure this out as a way to handle redirecting the user when they come back from the auth -- I figured I could pass the referer [sic] as an option to the callback URL and then when they come back, after success, I could send them back "where they came from".

It seems like this use case (redirect to where the login originated) would be a pretty frequently desired result -- am I mis

[2016-12-04 10:45] terencechow commented on #40
@radzserg @dotdotdotpaul

How are you guys handling this currently? I believe I have a similar use case. I have users which have subscriptions and each subscription can have many authorizations. On an auth callback, I have no idea which subscription has made the the authorization and cannot connect them.

[2016-12-04 20:53] dotdotdotpaul commented on #40
My current hack is that my login URL is now auth/login/:provider, and that shoves the referer into the session, then redirects to auth/:provider to let Ueberauth work as usual.  Then I added to the callback function code that checks the session for the referer, removes it from the session and then redirects (defaulting to "home" if not found).  Works fine, if your user is using cookies -- but I fi

[2016-12-10 18:04] doomspork commented on #40
@radzserg I haven't personally had a need for this functionality but there is quite a bit of interest, would you be interested in submitting a pull request for review?

[2016-12-10 18:05] doomspork commented on #43
Thanks for the report @AlanMcCann!  I'll look into this today.

[2016-12-10 18:08] doomspork commented on #43
I believe this and #44 may be related.

[2016-12-11 14:22] AlanMcCann commented on #43
Just a note that  problem occurs for me for Google login as well as Facebook (the only two strategies I have tested)

[2016-12-12 08:35] radzserg commented on #40
@doomspork I will. Give me 2 weeks. Completely busy this week.

[2016-12-20 16:05] radzserg commented on #40
https://github.com/ueberauth/ueberauth/pull/45

[2016-12-23 10:46] kedare commented on #20
I am also looking for this kind of scenario (The mobile app gets the token, then send if to the server for validation and get a JWT token back), there is still nothing about this in Ueberauth ? What would be the best approach ?

[2017-01-16 10:38] mikeni commented on #15
Gonna try to implement both oauth2 request state and session state, I trust the sessions more than the state, need something to fallback on.

[2017-02-10 15:59] bawolf opened #49 "Creating Custom Callback URIs for Mobile Apps"
Is there a way to create Redirect URIs for Mobile Apps?

I would like to return a callback like ` myapp://callback#token=<token>` so that the phone knows to call the app and open it ala something like [this](https://www.oauth.com/oauth2-servers/redirect-uris/redirect-uris-native-apps/)

I didn't see an optional parameter for this?

[2017-03-04 04:20] mbenatti commented on #20
@danielberkompas
Hi
 I'm trying to do the same thing, can you share your solution with me?

[2017-03-04 20:45] danielberkompas commented on #20
@mbenatti Here's a gist of what I ended up doing: https://gist.github.com/danielberkompas/9822197a8cec66ff011d24ab32e687cf

[2017-03-06 08:19] yordis commented on #20
@danielberkompas after watching what you did I notice a common pattern in the other packages and I am starting to understand a little bit better `ueberauth` in a nutshell.

## Things to Notice
- From most of the `strategies` implemented  extracting the data `is attached` to the `conn` for some reason https://github.com/ueberauth/ueberauth_github/blob/master/lib/ueberauth/strategy/github.ex#L161
-

[2017-03-07 06:15] doomspork commented on #49
@bawolf I've never done something like this, could you elaborate on the requirements a bit more?

[2017-03-10 08:53] yordis commented on #20
For Facebook strategy,

I finished the module that would work when you pass `a token`.

### Things to notice
The things to notice is the overlapping in how to extract the data `BUT` the differences is that I pass the `raw user data` instead of extract it from the `Plug.Conn`.

`auth method` which leave in https://github.com/ueberauth/ueberauth/blob/master/lib/ueberauth/strategy.ex#L276 have a diff

[2017-03-10 09:49] yordis commented on #20
Dealing a little bit deeper with the code, I think the best approach from `ueberauth` is to create two types of `strategies`. The only thing that overlap is `data fetching` but everything else is pretty much completely different.

I will stop here because I need some advice from the contributors in what should I do (specially thinking in backward comparability)

[2017-03-16 00:35] nelsonic commented on #12
Hi gents, I'm getting an error that looks pretty similar ...
Stack Trace:
[code]
Did anyone figure it out?

[2017-03-18 02:52] yordis opened #50 "Add token base workflow"
Related to #20

Add a method that takes a `auth token code` that will be used for fetch the user info data. Some work done (https://github.com/yordis/ueberauth_facebook/blob/add-token-based-workflow/lib/ueberauth/strategy/facebook.ex#L56). I would say that it will be better to actually use a different name for it.
This method do not required any `Conn` or anything related to `Plug`. Normally will

[2017-03-18 02:53] yordis commented on #50
I will be more than happy to contribute on this but I need directions, specially thinking on fallback

[2017-03-18 03:06] yordis opened #51 "Add reader module for Strategies configurations"
Add the ability to change the way we read the configuration of the strategies. Right now we have to reload or coding the configuration (See https://github.com/ueberauth/ueberauth/blob/master/lib/ueberauth.ex#L175)

### Use Case
Services like `Firebase` or `Auth0` allow you to configure the `social media` integration on their platform. They save the configuration in the database which allow us to e

[2017-03-18 05:51] scrogson commented on #20
It sounds to me that we just need to provide a public API (Protocol or callback behaviour) for fetching user data from a token so that you can get the user data back in a unified way outside of the OAuth2 Authorization Code flow.

Ueberauth was designed around [OAuth2 Authorization Code flow](https://tools.ietf.org/html/rfc6749#section-4.1). The user is redirected from their browser to the authori

[2017-03-18 05:51] scrogson commented on #50
@yordis please see my comment [here](https://github.com/ueberauth/ueberauth/issues/20#issuecomment-287518922)

[2017-03-18 05:59] #50 closed

[2017-03-18 06:03] scrogson commented on #43
Doesn't sound like this is a problem with Ueberauth or the OAuth2 package. From the error above it was related to the `certify` app that comes with `hackney`.

As there haven't been any additional reports, I feel this issue can be closed. Feel free to open a new issue if you are still having problems.

[2017-03-18 06:03] #43 closed

[2017-03-18 06:07] #24 closed

[2017-03-18 06:07] #35 closed

[2017-03-18 06:09] #41 closed

[2017-03-18 06:13] scrogson commented on #49
@bawolf that would be for an authorization server (like Facebook or Google) to pass the access token back to the mobile client. This isn't something that you would do with Ueberauth.

Ueberauth is acting as a client to auth provider.

I hope that answers your question.

[2017-03-18 06:13] #49 closed

[2017-03-18 06:15] scrogson commented on #51
@yordis sorry, I'm not following the use-case you've outlined. Could you expand on it?

[2017-03-18 06:21] yordis commented on #50
@scrogson but the idea is actually expand `ueberauth` module to support that workflow once you have the `token`. Notice how much duplicated code is needed for accomplish the task.

I understand how to accomplish the task but I think is better to add that feature. I think is a perfect place and it will help a lot of people.

[2017-03-18 06:24] yordis commented on #51
@scrogson Right now we have to put, for example `client_id` and `client_secret`, the configurations in the `config.exs` so it's hard coded using the language.

The idea is that you could have different ways to load the configuration for the strategies. I could use `Ecto` (meaning database more than actually Ecto) for load the configuration data from a database.

This allow us to even have multiple

[2017-03-31 13:09] Rakoth commented on #20
Hi! Thanks for your effort on this great library!
Facing the same issue with sdk returning access token. My first thought was to support extra case in `handle_callback!` when `token` parameter is present.
I agree though, that provider API could be more clear and reusable, so we don't have to copy-paste private methods from providers in non-trivial cases.

[2017-03-31 13:30] yordis commented on #20
@Rakoth I tried #50  but the idea was shutdown 😢

[2017-03-31 16:55] anton-ferio commented on #20
Hello everyone!
Thank the contributors for a great job!

Ueberauth solves the same problems that omniauth from ruby comunity solves. So the problem (if it is a problem) explained here must be the problem in ruby community too.
There is no general implementation for this case in omniauth, but there is a gem (no longer supported) https://github.com/SoapSeller/omniauth-facebook-access-token which is

[2017-04-03 01:54] doomspork commented on #51
@scrogson after discussing this with @yordis on Slack, this doesn't sound like a bad idea so long as we provide a sane default.  In his case they'd like to load their third-party credentials from a database and not `config/*.exs` or system env.

[2017-04-03 17:33] anton-ferio commented on #20
Hello everyone again!
I think that @scrogson approach make sense! We don't need to affect default web flow, we only need another flow for server based exchange of token into user info (ueberauth auth format). The main problem is a correct implementation of API and configuration rules format which look good  with default rules and general API. I think that strategies will be prepared very fast in c

[2017-04-17 09:13] aliabbas-2012 opened #52 "connect_timeout in facebook login"
OAuth2.Error at GET /auth/facebook/callback
:connect_timeout
I tested on different machine and browsers its still happening

[2017-04-26 20:11] harrygr commented on #20
I came across this whilst trying to figure out a way to authenticate a single page app with my phoenix api. I'm trying the use the google strategy along with the [Google sign-in for websites](https://developers.google.com/identity/sign-in/web/backend-auth).

Essentially the first leg of authentication is handled entirely client-side; the user clicks the 'login with google' button and a popup from

[2017-04-26 21:45] yordis commented on #20
@harrygr if your are handling the OAuth2 workflow in the client side, then you will need what I am pushing for.
This is not currently supported. You will have to do something similar to what I did to be able to do `token based workflow`

[2017-05-05 14:58] deini commented on #41
@obsidienne Did you created the strategy? I would like this strategy too, if you haven't I can give it a shot when I get some time.

[2017-05-24 00:22] hassox commented on #15
Hey folks. Sorry this issue has dragged on for a bit. I'd like to get it tidied up.

I'm not sure I'm following the approach here now I look back on it. If you want to tie multiple accounts together to a single user resource I'm not sure ueberauth needs to really get involved does it?

In your call back controller function, you will have the result of the callback, and the session already, so if y

[2017-05-24 00:30] hassox commented on #20
I think I agree with @scrogson here. The strategies have this stuff already there just isn't a way that you can post it.

If we were to add a "token" parameter to the oauth strategies which assumes you've done client side oauth and have an access token, it should use that to populate the auth struct. Would that solve the issue that you folks are having?

[2017-05-24 00:32] hassox commented on #37
I think for refresh tokens the application should schedule and query for the refresh. I think this is out of scope for ueberauth itself. @doomspork @scrogson thoughts?

[2017-05-24 00:34] #40 closed

[2017-05-24 02:25] yordis commented on #20
@hassox and after I deal with it. I don't see the point of literally duplicate `80%` of the code just because we don't want to add some layer of abstraction, which is the only reason why I pushed for this.

[2017-05-24 03:27] scrogson commented on #37
Agreed. Ueberauth is for obtaining tokens through the oauth2 authorization code flow.

[2017-05-24 03:27] #37 closed

[2017-05-24 04:22] hassox commented on #20
@yordis I think I'm agreeing with you. I'm suggesting that we should build this into the libraries to accept a "token" parameter as part of the callback so you get the standard Auth struct. Is that not what you had in mind?

[2017-05-24 04:42] hassox commented on #34
@doomspork is this the `X-Forwarded-Proto` header issue? Wondering if we need this still. @nikkomiu?

[2017-05-24 04:44] hassox commented on #44
@hykw Is this still an issue for you?

[2017-05-24 04:48] hassox commented on #51
When we're talking about credentials, are we talking about ueberauth or particular strategies? The solution will likely be different

[2017-05-24 05:52] aphillipo commented on #15
I think the discussion descended into redirect from oath and maintaining state.  I could probably get a pull request done tonight?

[2017-05-24 06:26] Rakoth commented on #20
Hi guys, you could use providers forks with token flow implemented:
https://github.com/KosyanMedia/ueberauth_facebook
https://github.com/KosyanMedia/ueberauth_twitter
https://github.com/KosyanMedia/ueberauth_google
https://github.com/KosyanMedia/ueberauth_vk
https://github.com/KosyanMedia/ueberauth_ok

[2017-05-24 10:20] yordis commented on #51
@hassox the idea is to be able to configure the strategies from the database.

For example: Facebook strategy, needs `client_id, `client_secret`, `default_scope`, `display`, `profile_fields`; which it can be configure from some database or any module that you want to implement.

Of course, we need to agree in some interface for the module, but that's the idea

[2017-05-24 10:29] yordis commented on #20
@hassox the problem is not doing it, the problem is `why`? Why would I do that for the good of the community. Specially that we are talking about backend code, which we don't care on increase the code base as long as is for the good of the package, no just for adding it.

Look, those guys that @Rakoth (amazing job and I am glad that somebody implemented), but now me (as the engineer) have to make

[2017-05-24 12:05] nikkomiu commented on #34
I don't think this is needed anymore. If the X-Forwarded-Proto is set I believe it uses the correct URL.

[2017-06-06 04:12] hykw commented on #44
@hassox
Yes, it is. I've updated to ueberauth 0.4.0/ueberauth_facebook 0.6.0 and tried it. It still occurs the same issue. So, the workaround is still to change the line as I mentioned(`if strategy...` to `if strategy = Map.get(opts, request_path) do`).

[2017-06-19 19:23] tugal commented on #50
@yordis i agree. I need this feature to jump on ueberauth, and leave Rails...

[2017-06-19 23:00] yordis commented on #50
@tugal the ticket is closed so 😢

[2017-06-20 01:55] hassox commented on #50
I'd like to attack this feature in the very near future. I'm seeing this come up as an issue more and more. My focus atm is getting guardian 1.0 out but I'm hearing this issue loud and clear. One thing I'm not sure about is how to get this into ueberauth base rather than delegating it out to the individual strategies. Is there a behaviour we can define that would provide enough to kick this off or

[2017-06-20 02:42] yordis commented on #50
@hassox if you are focus on Guardian I can help over this side.

We can't, every strategy knows about his implementation detail. The only thing we could do is define the protocol of communication. I don't see this working in `ueberauth` side, specially that you have twitter in OAuth 1 still 😭

Strategy providers have to look after it. Ueberauth will just implement the protocol definition and workf

[2017-06-20 06:18] tugal commented on #50
@hassox : Why not create another optionnal method "validate_token" (ina ddition to exiting ones : request and callback), where statégies are responsible to implement. In my point of view, only stratégies know how to validate their tokens...

Nice to hean that this feature still open..

[2017-06-24 15:40] decentname opened #54 "Request phase and callback phase"
Hi, i really liked ueberauth strategies feature. I also checkout the sample example and it works fine. I am not able to customize the code though. I am having problem understanding whether how should i implement the request method as well as callback function. I could not find any documentation for same too. Do we need to manually call the outh url of the third app or does ueberauth does that for

[2017-06-25 11:47] #54 closed

[2017-07-19 16:35] LostKobrakai opened #55 "Differenciate by method and path in Ueberauth plug"
I'm using the identity strategy with ueberauth and (just for that strategy) I'd like to use the same path as `request_path` and `callback_path`. Because the first is accessed via a get request and the second via a post request this did seem to work well initially, but the request_path does not trigger the Ueberauth plug anymore. The callback_path does still work.

[code]

[2017-07-27 18:34] Hajto commented on #52
More information would be useful.

[2017-07-28 08:22] decentname opened #57 "Getting nil in email on fb login"
I have set email permission and i am able to get email address when i tested it using graph api explorer. Ueberauth returns nil in email field. The default scope contains email.

[2017-08-03 23:49] doomspork commented on #57
@decentname it sounds like there might be a bug, have you had a chance to look through the FB strategy to trace it?

[2017-08-03 23:50] doomspork commented on #52
@aliabbas-2012 as @Hajto mentioned, more information would be helpful.  Do you have an example project that we could use to replicate this behavior?  I would double check it isn't a firewall issue.

Are you able to make API requests directly, outside of Ueberauth?

[2017-08-04 08:02] Hajto commented on #52
@aliabbas-2012 If you provide more info and maybe example that will help reproduce the error I will try to fix it.

[2017-08-04 08:13] aliabbas-2012 commented on #52
Should I send you the zip of my project ?

[2017-08-04 08:14] Hajto commented on #52
@aliabbas-2012 I think link to git repo would be better.

[2017-08-04 08:14] aliabbas-2012 commented on #52
https://github.com/aliabbas-2012/phoenixBlog

[2017-08-04 08:15] aliabbas-2012 commented on #52
it is in 1.2 series

[2017-08-04 08:17] aliabbas-2012 commented on #52
branch name is facebook_login

[2017-08-07 10:05] #57 closed

[2017-08-14 14:50] doomspork commented on #52
Thanks @aliabbas-2012!  I've just returned from holiday, I'll take a peek this week 👍

[2017-08-14 23:16] chrislaskey opened #59 "Decoupling OAuth2 provider endpoint details from Überauth"
Hey all, thanks for the great work on üeberauth! Had an idea and wanted to run it by you all, especially @doomspork @hassox and @scrogson.

### Background

I've been building an application that uses Elixir as a GraphQL back-end. It uses different OAuth2 providers for user authentication using a mix of Authorization Code and Implicit flows.

Choosing Facebook as a first implementation, I read thro

[2017-08-14 23:55] scrogson commented on #59
Hey @chrislaskey!

Thanks for creating this issue. This is definitely something that has come up a lot and we are meaning to come up with a solution.

What you propose is definitely one way to help solve this issue (and a good one). The main thing that I hesitate with on that approach is having too many dependencies to maintain.

Having each `ueberauth` package maintain its own OAuth2 abstraction

[2017-08-15 00:49] chrislaskey commented on #59
Hey Sonny! Thanks for the great reply.

Makes sense, but mind if I press on that a bit? I think with the expertise and skills on your team you'd crush it. There's no doubt you _could_ do it, but I'm wondering if you _should_ do it?

It feels like a slippery slope towards y'all being maintainers for a variety of OAuth2 related workflows, many of which falling outside the scope of Überauth.

I origi

[2017-08-24 18:56] denispeplin opened #60 "Ueberauth example is not in Readme"
I can't find good place to put the link into Readme, but I think it should be there: https://github.com/ueberauth/ueberauth_example

[2017-08-25 18:18] doomspork commented on #60
@denispeplin a PR would be welcomed to add this 👍   I think anywhere after the initial paragraph would be sufficient

[2017-08-28 03:48] hassox opened #61 "Start a wish list for an upgrade to ueberauth"
There's been a few points of feedback I've been getting on Ueberauth. It feels like we have a sufficiently diverse community now to really dial in on what would make Ueberauth amazing.

The couple of major things that come to mind are:

1. Remove the forced reliance on Plug. Constraining Ueberauth to only work through plug makes it inflexible. It seems that we should be able to change the behaviou

[2017-08-28 03:50] yordis commented on #50
Moved to #61

[2017-09-01 15:57] #55 closed

[2017-09-01 16:21] #60 closed

[2017-09-14 01:33] chrislaskey commented on #59
Closing this issue out. For completeness I went ahead and released an [oauth2_facebook](https://hex.pm/packages/oauth2_facebook) hex package. Cheers!

[2017-09-14 01:33] #59 closed

[2017-09-24 09:03] anildigital opened #62 "Any helpers to ueberauth callbacks in a Phoenix application?"
Hi,

I am working on a Phoenix application where I am using Ueberauth Slack.
I wanted to write controller tests for callbacks

[code]
...
[code]

Any helpers to set assigns properly while testing?

Thanks!

[2017-09-25 17:46] doomspork commented on #62
Sorry @anildigital we don't have a testing harness yet.  The best solution I've found so far is to rely on `bypass`.  If you have any suggestions for how we could make testing easier we're all ears!

[2017-09-25 17:46] #62 closed

[2017-11-06 01:15] mtchavez opened #63 "Gitlab Strategy Integration"
Hey,

Not sure if this is the best place for this but I made a [Gitlab OAuth2 Strategy][gitlab-repo] and tested it out using the [Example App][example-app]. How do new strategies normally get consumed by the Üeberauth github org? I wouldn't mind transfering ownership and becoming a collaborator to help maintain the strategy.

If there is a better place to discuss please let me know. Thanks.

[exam

[2017-11-06 02:36] doomspork commented on #63
Howdy @mtchavez!  We don't _currently_ accept other strategies into the org but we're currently looking at ways to do so as well as enable maintainers to continue to provide support 👍

[2017-11-19 23:30] yordis commented on #61
Just for linking back to this:
- Token based workflow: #50
- Configuration Reader: #51

#51 the basic idea is that I can swap how I read the configuration for the strategies.

For example

[code]

The configuration reader should implement some protocol

[code]

What this will allow me to do is be able to load configurations from the database, business like Auth0 allow you to do that so we can exte

[2017-11-19 23:49] yordis commented on #61
btw, the idea is not calling the module reader once for the configuration because then we will have to restart or end the process anyway 😅

I was thinking on create some GenServer per provider as well so we could save the configurations inside and we can reload the process for that provider when we need it.

Also that way, if one of the providers is down and something happens with it, it will no a

[2017-11-23 22:11] kumekay commented on #41
@deini Did you work on such strategy?

[2017-11-23 22:44] deini commented on #41
@kumekay I have not, I'm sorry. I ended up writing a custom solution.

[2017-12-29 14:32] jherdman opened #64 ""Could not start application uberauth: could not find application file: uberauth.app""
I'm starting a brand new Phoenix 1.3 project, and am trying to get Uberauth up and running. I've followed the steps, but the part about adding to `:applications` in mix.exs is tripping me up. If I do this, I see the following error:

[code]

This same problem happens if I add to `:extra_applications` instead.

[2017-12-29 14:45] jherdman commented on #64
OK, I figured this out. I'm sheepishly going to close this pull request. In case any future searcher of issues runs into this issue, double check how you spell the name of the libraries in question. It's U**e**berauth.

[2017-12-29 14:45] #64 closed

[2018-01-08 03:22] cgorshing opened #65 "URL Resolution - Scheme, Host, Port"
I'm working through deploying my first Phoenix app and ran into issues with the URL's used for the different strategies. This specific app has nginx sitting in front of it (I resolved the issues by forwarding across x-forwarded-proto and x-forwarded-for).

I didn't want to use the ueberauth configuration of overriding the callback url because I'm using quite a few strategies and didn't want to hav

[2018-01-08 15:49] doomspork commented on #65
@cgorshing we're just pulling the values straight off the connection.  If you're using `https`, we'll use `https`.  In your case, it sounds like you're using SSL termination?  If that's the case, I think the issue is your Phoenix configuration since we'll just copy settings over from the connection struct.

Comparing what Phoenix does as a framework to what Ueberauth does as a Plug is going to lea

[2018-01-08 17:37] rmoorman commented on #61
@hassox , I don't know if this is the right place to discuss additional items for your wish list, but I am wondering how to have one (phoenix) application support multiple ueberauth configurations.

Specifically with preferably one http endpoint I would like to build a multitenancy environment which would need to use multiple dynamic configurations for ueberauth. I think multiple configurations ar

[2018-01-08 17:39] yordis commented on #61
@rmoorman that is in the radar, https://github.com/ueberauth/ueberauth/issues/51

[2018-01-08 19:36] rmoorman commented on #61
@yordis how would you picture #51 working in a situation where multiple configurations (each with differently configured providers) would exist and each configuration should be applied based on the hostname for example?

I mean, wouldn't one still need some kind of discriminator and/or some restructuring/additional functionality within ueberauth to facilitate this scenario? (mainly for selecting a

[2018-01-08 19:43] yordis commented on #61
@rmoorman the idea is to support Configuration loaders that you can pick your strategy ...

[2018-01-08 21:17] rmoorman commented on #61
@yordis so the idea also includes altering the way of strategy lookup, making the context data (e.g. plug connection) available to the loader and having the loader responsible for returning a configured strategy? That could be a way to accomplish that I guess.

[2018-01-09 01:53] yordis commented on #61
@rmoorman yes

[2018-01-09 02:35] cgorshing commented on #65
"Comparing what Phoenix does as a framework to what Ueberauth does as a Plug is going to lead to a lot of confusion" - I looked more closely at the deps of ueberauth and plug, and I agree that they shouldn't be tied to Phoenix.

"I think the issue is your Phoenix configuration" - My configuration is correct (just confirmed it by using an obviously wrong setup and saw they results). But Phoenix use

[2018-01-28 11:33] silently opened #66 "0.5.0 release"
Hello, I was wondering why a 0.5.0 release is available on https://hex.pm/packages/ueberauth while the source is not shared here? Thanks!

[2018-01-29 12:12] stephenmoloney opened #67 "plug version 1.2"
This version of plug is quite old....

Is there much involved to update it or make various versions optional ?

[2018-02-07 17:32] doomspork commented on #67
@stephenmoloney you could use `override: true` in your mix file.  A PR to update the dependencies is welcome 👍

[2018-02-07 17:32] #67 closed

[2018-02-07 17:34] doomspork commented on #66
@silently should be fixed.  Sorry about that 👍

[2018-02-07 17:34] #66 closed

[2018-02-09 17:51] stephenmoloney commented on #67
thanks ... I'll try to do this soon enough.

[2018-02-21 07:08] jabberfest commented on #65
@doomspork , @cgorshing brings up a good point. Here is an example use case where the current implementation causes problems:

- Phoenix running on port:4000 with http
- Nginx running on port 443 with TLS and a reverse proxy to port:4000

If I set the following in my production config
[code]

Then all my phoenix asset path helpers will have the correct "https" prefix. The redirect URI generated by

[2018-02-21 09:25] jabberfest commented on #65
So it looks like the fix  is to set the "X-Forwarded-Proto" header. Maybe the fix is to clarify the docs. I didn't realize this until I was digging in the source code.

In nginx:
[code]

In: ueberauth/lib/ueberauth/strategies/helpers.ex the scheme is set to the X-Forwarded-Proto header if it's set.

[code]

[code]

[2018-02-22 00:41] cgorshing commented on #65
My use case was the same and solved it the same way. I do agree we don't want these tied together, but it would be good to have the same logic (for now since Phoenix tends to be the main way to use these). This is still in the back of my mind and I may submit a PR in the future if I can get to it.

[2018-02-28 05:28] alejandrodnm commented on #61
I would love to see Token based workflow #50 implemented. I'm pushing in my department to start using Elixir and this is a must, we do internal web based tools and they are all SPA with google auth implemented client side.

So right now we have two choices, implement like what @yordis has done in #50 or use the [fork](https://github.com/KosyanMedia/ueberauth_google/commits/master) (already 7 commi

[2018-02-28 08:07] yordis commented on #61
@alejandrodnm here is my 2 cents on what to do right now.

My solution was independent of `Plug.Conn` because I was using Absinthe so I didn't have access to the `Plug.Conn`.

The fork solution wouldn't work for me because they do have dependency with `Plug.Conn`.

So, do you have access to `Plug.Conn, then use the fork, if not, then do what I did, specially that it is for one strategy.

[2018-03-15 05:28] zacck commented on #61
Watching this... keen on how if goes

[2018-03-20 16:04] arjan commented on #51
Is there any progress on this? If not, I might work on this, as we need this in the near future.

[2018-03-22 15:28] Papipo commented on #62
Where can I see an example of that? Thanks!

[2018-03-23 14:40] Papipo opened #70 "Test mode"
Hi!

I've been lost for two days trying to find a proper way of doing testing [like you would do with Omniauth](https://github.com/omniauth/omniauth/wiki/Integration-Testing).
As a workaround I've set up Bypass, but I find the process clumsy and verbose, since I need to configure each Strategy host to map to different Bypass ports, etc.

So I am willing to tackle the feature but I would like some

[2018-04-25 04:08] doomspork commented on #70
Howdy @Papipo!  This is definitely something everyone on the @ueberauth/developers team has wanted though I fear we've never come to consensus on the best way to do so.

If you're interested in pursuing this feature we can use this issue to discuss the different approaches and hopefully decide on one to take.

[2018-04-25 07:30] Papipo commented on #70
#69 is great. I copy a couple of feature requests I put there:

- Adding mocks at runtime.
- Forcing an authentication failure.

[2018-04-25 12:32] yordis commented on #51
@arjan do you have any thing in mind on how to start with this?

@scrogson and I talked about it but we didn't settle on anything.

There is some thoughts around this like:

Configuration based on some parameter: this parameter could come from some HTTP request or you calling directly the Ueberauth workflow with some key I am guessing. We need to think about it.

[2018-04-26 06:52] arjan commented on #51
So, basically we would like all configuration related to a strategy to be dynamically retrieved, right?

Maybe we can create a config setting:

[code]

Which specifies a MFA tuple for the reader function. The strategy reader would be called every time a strategy configuration needs to be retrieved (using `Kernel.apply/3`, with as argument the strategy module, the `%Plug.Conn{}` of the current requ

[2018-04-26 13:37] yordis commented on #51
@arjan yes and no,

That could be a possibility but we are trying to move away from `Plug.Conn` as a direct requirement, in my case, I use GraphQL API with Absinthe so I don't have access to `Plug.Conn` or in the other hand my architecture do not depends of `Plug.Conn` so we need to find a way to remove.

Also, related to that, I would pass some parameter that helps the reader to know which strate

[2018-04-26 14:02] arjan commented on #51
Agreed. Did not know about the moving away from Plug part (I saw it listed in the dependencies that's why
 my proposal). Anyhow, of course you can always (mis)use the process dictionary for this... e.g. an Absinthe middleware putting some identifier in, and the strategy reader function using that info.

Absinthe itself uses the pdict also quite heavily btw ;-)

Alternatively we can create some ini

[2018-04-26 15:05] rmoorman commented on #51
Also keep in mind that (based on e.g. request information) one request would only be allowed to use a Facebook strategy while another one could use microsoft and fitbit. I don't know if that kind of flexibility is planned to be built in (or at least planned to be achievable through extension; it has been suggested though within #61) but it would be pretty great to have it for multi-tenant scenario

[2018-04-26 15:26] yordis commented on #51
@rmoorman the first step is to remove the dependency with `Plug.Conn` from the Core (we add the HTTP dependency on top of the Core) This will allow us to deal with function calls without any `Plug.Conn` involve so it is much easier.

Multi-tenant at that moment becomes easier because for the Core still the same but you can create your own Controller/Plug/Middleware that knows how to read the confi

[2018-04-26 15:31] rmoorman commented on #51
Makes sense @yordis

[2018-04-26 17:58] arjan commented on #51
Okay, so I hear it's not time for me to start on this, I guess :-) Is there already an issue for the Plug.Conn rewrite that I could track?

[2018-05-11 15:46] hanman18 opened #75 "OneLogin"
Does ueberauth support onelogin?

[2018-05-14 19:11] doomspork commented on #75
@hanman18 here is a list of all the strategies currently available: https://github.com/ueberauth/ueberauth/wiki/List-of-Strategies

I don't think we'll be able to tell you whether or not OneLogin is supported, you'll need to dig into their documentation to determine the flow.

[2018-05-21 11:34] bluzky opened #78 "Separate ueberauth config for different app under umbrella project"
Hi! I'm working on an umbrella project, I have 2 apps, one for admin and one for user.
I want both admin and user can login using facebook account.
- `admin -----auth---> facebook  app for admin`
- `user -----auth----> facebook app for user`

**this is config for admin app**
[code]

**this is config for user app**
[code]
Admin account cannot login using facebook because it use configuration for us

[2018-05-24 17:22] #63 closed

[2018-05-29 23:11] scrogson commented on #78
@bluzky unfortunately, what you wish to do is not currently possible. Sorry about that.

Configuration in Elixir is a hot topic at the moment and the configuration story for Ueberauth really needs to be revisited. This will likely require a new major version. There is currently nothing on the road map for this, but the core team and I will discuss it soon.

[2018-07-26 17:00] wess opened #81 "404 when using `forward` in Plug.Router"
My app is an umbrella with an api app that forwards to a versioned endpoint, like:

`forward("/v1", to: V1)`

inside of the V1 router, I have a forward to my auth handler:

`forward("/auth", to: V1.Routes.Auth)`

and my auth handler looks like:
[code]

I have facebook configured and when ever I go to the url: `/v1/auth/facebook` I get a 404. Now if I move that /auth forward in to main api router,

[2018-07-26 17:11] doomspork commented on #81
Howdy @wess, given that your second router is `V1.Routes.Auth` should your first forward to be `forward("/v1", to: V1.Routes)` instead of just `V1`?

Do you have a sample project I could peek at?

[2018-07-26 17:16] wess commented on #81
here's all the codes:

API Router:
[code]

V1 ROUTER
[code]

AUTH ROUTER:
[code]

[2018-09-07 13:20] sarasfox opened #83 "Compilation error in my controller after adding uederauth"
I checked every thing four or five times. config.exs, router.ex and controller.ex look fine
== Compilation error in file web/controllers/auth_controller.ex ==
** (FunctionClauseError) no function clause matching in Keyword.pop/3

    The following arguments were given to Keyword.pop/3:

        # 1
        nil

        # 2
        :base_path

        # 3
        "/auth"

    Attempted function cla

[2018-09-08 13:20] #83 closed, assigned to nobody

[2018-11-05 17:11] honkycat commented on #65
My two cents: It's very strange that Uberauth is making assumptions about my protocol.

SSL termination is not an uncommon use case, and having to set up an nginx server and set a header is a lot of work compared to a simple configuration change in Uberauth.

In my opinion, the protocol should be configurable to always return `https` without having to rely on the side-effect of a header.

[2018-11-05 17:37] yordis commented on #65
Since is a common practice to put a server like Ngnix in front of the Phoenix app, I believe that it is a good idea to configure the scheme.

[2018-11-06 19:48] honkycat commented on #65
As a SRE developer I'm going to have to disagree with you @yordis . There are many examples where this is not realistic of feasible, and adding an nginx server to an existing stack isn't as easy as snapping your fingers, whereas providing a config would be much simpler. Would people be open to a pull request implementing this feature?

### The problem with the nginx solution:

As an application de

[2018-11-06 21:41] yordis commented on #65
@honkycat  by all means, create a PR with your suggested implementation.

[2018-11-07 23:50] primitive-type commented on #65
I'm very confused. Does `callback_url` work as it's described in the following issues?

https://github.com/ueberauth/ueberauth/issues/18
https://github.com/schwarz/ueberauth_discord/issues/3

If it does, wouldn't it solve both this issue and also https://github.com/ueberauth/ueberauth/issues/34 by allowing for the hardcoding of `https://` into the `callback_url` directly? Am I missing something?

[2018-12-20 04:16] janderland opened #86 "Cryptic build error if config isn't set."
This is not a bug but rather an idea for an improvement. If the Ueberauth config isn't set for your current environment, then during compilation a cryptic build error arises:

[code]

This could be prevented by adding a check for the presence of the configuration right before [this line](https://github.com/ueberauth/ueberauth/blob/master/lib/ueberauth.ex#L175). If the configuration isn't found, th

[2018-12-20 04:32] doomspork commented on #86
A PR to improve this would be much appreciated @janderland 👍

[2018-12-22 23:19] snewcomer opened #87 "Configurable json serializer"
@yordis @doomspork 👋 Following up on a previous discussion of allowing users to configure their json encoder/decoder.  Some apps may be using `Jason` instead of `Poison` for example.

For OAuth2 (a dep of many other ueberauth libraries), it looks like `Poison` is the default, but they allow you to configure it via application config `serializers` based on a mime-type [here](https://github.com/scro

[2018-12-23 02:59] yordis commented on #87
Still relevant https://github.com/ueberauth/ueberauth_twitter/issues/26#issuecomment-449599246

The first step is to get the strategies to use Ueberauth JSON library (understanding the trade-off which I would like to hear your feedbacks)

[2018-12-24 22:30] yordis commented on #61
Don't need to do the configuration reader, by opening the API should allow us to pass the configuration rather than keep relying on Ueberauth to adapt to use cases.

[2018-12-24 22:40] #87 closed

[2018-12-24 22:48] yordis opened #89 "Token-based workflow"

[2018-12-24 22:59] yordis commented on #20
Moved to #89

[2018-12-24 22:59] #20 closed

[2018-12-24 23:05] yordis opened #90 "Improve configuration"
As a user, I should be able to configure the strategies at runtime.

Umbrella applications where we could have multiple Web layers we should be able to have different configurations for Ueberauth based on the apps.

Users want to load the configuration from soft of a database. The workflow should allow you to configure the strategies at runtime when the workflow is initialized.

## Proposal

The U

[2018-12-24 23:08] yordis commented on #51
Moved to #90

[2018-12-24 23:08] yordis commented on #78
Moved to #90

[2018-12-24 23:19] #78 closed

[2018-12-24 23:36] yordis commented on #70
We should allow swapping the implementation based on the environment. We shouldn't mock or come out with an implementation that leaks abstraction.

In my opinion, the issue is that Ueberauth needs to embrace an adapter pattern.

[2018-12-24 23:42] yordis commented on #52
@aliabbas-2012 do you still issue?

Even when we have a demo project, we will appreciate some step to reproduce and explain what you did already.

Feel free to open the issue if the issue persist but we will need information about it since could be issues with your Facebook credentials 🤷‍♂️

[2018-12-24 23:42] #52 closed

[2018-12-24 23:42] #51 closed

[2018-12-24 23:45] yordis commented on #34
@nikkomiu is this related to #65 Could we close this one and move the conversation to #65 then? @ueberauth/core

[2018-12-24 23:46] yordis commented on #34
@nikkomiu it seems to be related to #65

I will close this one but feel free to open the issue if you think they are not the same.

[2018-12-24 23:46] #34 closed

[2018-12-25 19:41] yordis commented on #89
@stephenmoloney that is the next goal for Ueberauth. It seems that you already did it so if you have any feedbacks we are welcoming to it.

[2018-12-25 21:40] stephenmoloney commented on #89
I remember at the time I definitely had some feedback but some of the ideas were pretty drastic - so I felt it was more expedient to create a new lib at the time. The ueberauth_token lib relies on implementation of callback functions to provide maximum flexibility for provider implementation.

I'll try to revisit this thread in a couple of weeks with feedback, recommendations, etc
 -  if this thre

[2018-12-29 00:38] janderland commented on #86
Added a pull request for this [here](https://github.com/ueberauth/ueberauth/pull/91).

[2018-12-29 16:39] #86 closed

[2019-01-01 16:57] stephenmoloney commented on #89
I'd need to revisit this topic again to give good feedback. Let's see how things go, just not much time for foreseeable future...

[2019-03-11 22:00] asummers opened #96 "Document :callback_params in README or similar"
Turns out this is a whitelist that defaults to `[]`. We just got bit pretty hard by this behavior being hidden, so it's worth calling out in the docs. Effectively we had a bunch of plugs all acting on the presence of query params and were very confused why they never seemed to actually trip. This whitelist behavior was very unexpected.

Seems to have been added quite a while back in https://github

[2019-03-12 21:02] doomspork commented on #90
@yordis would you say this has been satisfied with #94?

[2019-03-12 22:16] yordis commented on #90
@doomspork we need to be able to initialize all the Ueberauth workflows without having to rely on anything from `Config` module.

Since configurations could change based on the runtime we can't read the config at compilation (unless you read from the environment, but that is not the best solution)

@hassox did some work about this which I will continue on it, let me get back to you today.

[2019-03-14 19:23] mspanc opened #99 "Invalid plug dependency - unable to use with phoenix 1.4.1"
The plug dependency is defined as `~> 1.5.0`. It is a wrong pattern to use such notation when referring to the library with the semantic versioning. It should be `~> 1.5` instead, as we can rely on the fact that unless major number change, the newer versions should be backwards compatible. Current approach is too strict.

Current approach disallows using ueberauth with phoenix 1.4.1.

[code]

[2019-03-14 19:27] #99 closed

[2019-03-14 19:32] mspanc commented on #99
@yordis wow, that was quick. Any chance for 0.6.1 release that has proper dependencies?

[2019-03-14 19:46] yordis commented on #99
@mspanc https://github.com/ueberauth/ueberauth/pull/101

[2019-03-14 19:46] doomspork commented on #99
I'll cut a release here shortly @mspanc 😀

[2019-03-14 19:47] yordis commented on #99
@doomspork LEL it happened at the same time 😄  check the PR I need some CR please 💜

[2019-04-16 22:33] alexparker commented on #90
Yea not loving the tight coupling assumption of env variables being the source, would love to have this, or help get this out asap. Thanks!

[2019-04-26 09:28] timwis opened #103 "Callback URI doesn't support other reverse proxy ports"
I'm using phoenix to build an API and building a Vue.js app alongside it to serve as the client. I'm running the Vue.js app as a separate process to take advantage of webpack-dev-servers goodies, and reverse proxying my phoenix API through it: `localhost:8080/api/*` and `/auth/*` get routed to my phoenix server (`localhost:4000/api/`). This works fine, except the request to `/auth/auth0` initiates

[2019-04-26 13:41] yordis commented on #103
@hassox ^

[2019-05-01 01:54] doomspork commented on #90
@alexparker we welcome any PRs to improve Ueberauth and the strategies, please do help 😁

[2019-05-09 02:48] niccolox opened #104 "ory hydra strategy"
I would like to see a Strategy for https://github.com/ory/hydra integration

something like
https://github.com/ory/hydra-login-consent-node

someone, please, steal this idea

[2019-05-09 07:30] yordis commented on #104
@niccolox I am actually working on this but in some private repo 😄

[2019-05-09 11:54] doomspork commented on #104
@niccolox and @yordis this sounds like a good open source opportunity 😁

[2019-05-09 14:18] niccolox commented on #104
Agreed. @yordis is this possible?

On Thu, May 9, 2019, 04:54 Sean Callan <notifications@github.com> wrote:

[2019-05-09 19:55] yordis commented on #104
@doomspork I will open source it for sure, I just need to clean up some stuff before that happens.

[2019-05-09 20:24] niccolox commented on #104
thanks Yordis, its a glorious initiative

On Thu, May 9, 2019 at 12:55 PM Yordis Prieto <notifications@github.com>
wrote:

--

--
Nicholas Roberts
www.niccolox.org

[2019-06-28 04:53] niccolox commented on #104
@yordis any update on the ory hdra strategy?

[2019-06-28 18:54] yordis commented on #104
@niccolox not much being honest, until groundbreaking of my company, I will no have that much time to work on it, I am sorry.

[2019-06-28 19:09] niccolox commented on #104
Fair enough. Thanks anyway

On Fri, Jun 28, 2019, 11:54 Yordis Prieto <notifications@github.com> wrote:

[2019-07-16 15:07] otsybulsky opened #105 "error plug in umbrella project (phantom behavior)"
I try use ueberauth in standart umbrella application, but i have this error. Help, please!
![Screen Shot 2019-07-16 at 6 02 06 PM](https://user-images.githubusercontent.com/34866613/61306052-94b10a00-a7f4-11e9-8106-02a486b59916.png)

[2019-07-16 16:33] yordis commented on #105
Did you add Ueberauth dependency to your project?

How?

[2019-07-16 16:41] otsybulsky commented on #105
my deps list
[code]

[2019-07-16 16:52] OvermindDL1 commented on #105
You mention umbrella, that's the `deps` of that specific umbrella subproject?  Because you should not be getting that error if so.

[2019-07-16 17:00] otsybulsky commented on #105
Yes, it's web subproject of umbrella, `defmodule Itemli.Web.Mixfile`, and error in
[code]
I test this in standart phx.new project, there error not found.

[2019-07-16 17:21] otsybulsky commented on #105
I made new phx.new --umbrella for test `plug Ueberauth`, error is active.

[2019-07-16 20:14] OvermindDL1 commented on #105
That still implies the dependencies aren't fetched somehow.  Can you post a minimal reproduceable project onto github that we can clone to try it out?

[2019-07-17 05:40] otsybulsky commented on #105
Error disappeared magically. All I did was turn off the computer yesterday and turned on today. I suspect that the reason was somewhere in the interaction vscode + vscode extensions + OS Mojave + external ssd system disc. It looks weird, but everything works. Thank you very much for your help.

[2019-07-17 05:46] #105 closed

[2019-07-17 14:08] OvermindDL1 commented on #105
Ah, there have been oddities with the language server someone made for elixir projects, were you getting the error 'through' that rather than the terminal?

[2019-07-17 14:27] otsybulsky commented on #105
This error occurred while writing the code, before compilation.

[2019-07-17 15:00] OvermindDL1 commented on #105
Yep!  That's the language server then.  It's a bit buggy in that way, always test via the mix commands on the terminal.  :-)

[2019-07-17 15:36] otsybulsky commented on #105
ok, thank you

[2019-07-23 08:32] mildred opened #106 "Allow dynamic providers"
I have a use case where we need to authenticate using OAuth apps that are not fixed once for all in the configuration, but with dynamic OAuth apps. Basically, the secret OAuth keys are in database and not in environment or configuration.

Apparently, Ueberauth is not designed to handle this case.

I found out that it should be possible to use `Ueberauth.Strategy.run_{request,callback}` directly, b

[2019-07-23 09:26] mildred commented on #106
This should probably be an issue for the various providers so they can take their options from the `ueberauth_request_options` private and not the global config too.

[2019-07-23 16:00] yordis commented on #106
Closed in favor of https://github.com/ueberauth/ueberauth/issues/90

[2019-07-23 16:00] #106 closed

[2019-07-30 12:18] mildred commented on #90
I have a draft PR here: https://github.com/ueberauth/ueberauth/pull/107 (I need to test it, but it's based on code that works elsewhere)

[2019-08-01 17:45] yordis commented on #90
@mildred 🚀 🚀 🚀 🚀 🚀

[2019-08-17 04:45] gbrlcustodio commented on #89
Had this topic evolved since then? Is there some WIP that I could help with?

[2019-08-17 05:29] yordis commented on #89
@gbrlcustodio I think this branch https://github.com/ueberauth/ueberauth/tree/v1_proposal was working on it but didn't finish the changes.

If you want to make a proposal go for it.

[2019-09-30 12:53] tonnenpinguin opened #110 "Upgrading to 0.6.2 is potentially breaking"
After updating ueberauth from 0.6.1 to 0.6.2 the authentication requests for all providers (identity, facebook, google) stopped working and I started seeing the following error message.

[code]

This was quite hard to debug because everything worked normally as long as the individual apps all run on the root path (e.g. localhost:4000/). In production I am adding an additional path configuration in

[2019-10-23 18:32] doomspork commented on #110
@yordis you've been involved in most of the recent releases, can insights here? @ueberauth/core this might be something we need to investigate.

[2019-10-23 19:05] yordis commented on #110
Is there a version `0.6.2`?

[2019-10-23 23:36] doomspork commented on #110
Yes @yordis https://github.com/ueberauth/ueberauth/blob/master/mix.exs#L4

[2019-11-04 10:27] 0x6a6f74726f commented on #110
@tonnenpinguin Hi ;)

could share your config :ueberauth ?

[2019-11-05 18:56] tonnenpinguin commented on #110
Hi @0x6a6f74726f !

Sure thing:
[code]

[2019-11-06 10:24] 0x6a6f74726f commented on #110
Thanks for sharing. I suggest you add the `base_path` option.

an example

`config.exs`
[code]

corresponding `router.ex`
[code]

[2020-01-22 15:59] hugomatinho opened #114 "Support relative callback and request paths in strategies"
When dynamically changing the base_path callback and request paths are absolute thus disabling the dynamic nature of the call.

I'd like to propose that the strategies' callback_path and request_path be relative to the base_path

for example when using gettext and ueberauth, gettext changes the base path to /:locale even adding to the ueberauth base_path doesn't help as the strategy paths are abso

[2020-01-27 23:33] justinbkay opened #115 "Reverse Proxy configuration"
I have Nginx running as a reverse proxy for my Phoenix app.  I have it *almost* working correctly with the authentication, but the callback is coming through as http instead of https.

I click the login link, select my account, and I get redirected to http://mydomain.com/auth/google/callback? instead of https://...

I'm sure this is some type of configuration error on my part, but I'm not sure if

[2020-01-28 11:22] Hanspagh commented on #115
Could you post your phoenix config aswell?

[2020-01-28 15:17] justinbkay commented on #115
Ok, it was the variable $http_x_forwarded_proto, not being set correctly in the nginx config.  I tested it by changing out the variable name with a string and it started working as expected.

[2020-01-28 15:17] #115 closed

[2020-01-28 15:46] justinbkay commented on #115
Here's the Nginx config for posterity:

<pre>
  map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
  }

  map $http_x_forwarded_proto $real_scheme {
    default $http_x_forwarded_proto;
    ''      $scheme;
  }

  location @proxy {
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header X-Forwarded-For $prox

[2020-02-09 19:35] Hanspagh commented on #90
Closed by #107

[2020-02-09 19:35] #90 closed

[2020-02-09 19:53] Hanspagh commented on #110
Sounds like a misconfiguration, @tonnenpinguin feel free to reopen, if this is still a problem

[2020-02-09 19:53] #110 closed

[2020-04-06 11:12] spinettaro opened #116 "ueberauth customize token_url"
Hi guys,
I’m using ueberauth framework with auth0 Strategy ( Authorization Code Flow to be specific). Do you know if there is a way to customise token_url? I mean looking at configuration is not possible to have token url on a different domain…

[code]

what about if I have it on a different domain? is it wrong? Because looks like is not difficult to implement a way to customize it, but the fact t

[2020-04-10 10:08] FractalWire opened #117 "Doc: adding ueberauth to the applications list is no longer necessary"
The doc mention both in the main repo and in the various strategy repos that you should add Ueberauth and its strategies to the applications list like so:

[code]

For recent version of Elixir, this is no longer necessary and will, in fact, cause an error difficult to understand.

The doc should be updated to mention this change.

https://elixirforum.com/t/error-dbconnection-when-running-mix-phx-s

[2020-04-10 17:05] doomspork commented on #117
Hi @FractalWire would you mind submitting a PR?

[2020-04-11 11:00] FractalWire commented on #117
Sure ;)
https://github.com/ueberauth/ueberauth/pull/118

[2020-04-20 09:31] shahryarjb commented on #89
@yordis A point that has not been considered, google forces you to redirect link it has in it's config

please see this post
https://elixirforum.com/t/problem-to-create-api-with-ueberauth/30772

[2020-04-22 21:57] mdillavou commented on #106
I also am running into this issue where I need to dynamically configure a strategy based on the user for a multi-tenant system. While the run_request and run_callback is really helpful for dynamically picking strategies, it appears that most of the strategies still expect their oauth configuration (client id/client secret) to be in the environment.

Is there a recommended method that strategies sh

[2020-05-16 05:15] jsfuentes opened #119 "Working On Zoom Strategy"
I am working on a Zoom ueberauth strategy and thought it might be useful for others.

Would ueberauth, the org, accept other strategies if I build it out? And any guidelines on development/testing to look at?

[2020-05-17 13:19] doomspork commented on #119
Howdy @jsfuentes! A zoom strategy is very exciting. We have a couple options for you:

1. You can update the Wiki with a link to your strategy.
2. You transfer the strategy into the Ueberauth org and we add you to the team created to maintain that package.

Thanks so much for getting involved! Hope you and yours are staying safe.

[2020-05-20 23:17] nicolasblanco commented on #106
@mdillavou : I had the same issue with building a multi-tenants with the Google Strategy : I wanted to use multiple OAuth keys.
But by reading the source of the strategy I found that it was reading the OAuth2 clients options also from the private `ueberauth_request_options`.

https://github.com/ueberauth/ueberauth_google/blob/master/lib/ueberauth/strategy/google.ex#L163

So I was able to simply pa

[2020-05-21 13:27] mdillavou commented on #106
That is interesting! I think it would be great if ueberauth came up with a recommendation for all strategies so we'd have consistency. Ideally, all strategies would resolve the configuration options in the following order:

1. Get the parameters from the conn's `:ueberauth_request_options`
2. Get the parameters from the config based on the current `:otp_app`
3. Get the parameters from the config f

[2020-05-21 20:54] chriscreber opened #120 "CaseClauseError at GET /auth/google/callback"
I'm not sure if I need to show all of my configurations, because I seem to be getting an error from google's side. I can get to the login page, but once I login I receive the error shown in the images. It a case clause issue that occur before google even passes control.
<img width="1149" alt="Screen Shot 2020-05-21 at 1 52 58 PM" src="https://user-images.githubusercontent.com/35268038/82605301-8e0

[2020-05-21 20:56] chriscreber commented on #120
<img width="923" alt="Screen Shot 2020-05-21 at 1 55 35 PM" src="https://user-images.githubusercontent.com/35268038/82605492-dd4ef780-9b6a-11ea-985b-8af6c330f949.png">
<img width="895" alt="Screen Shot 2020-05-21 at 1 55 52 PM" src="https://user-images.githubusercontent.com/35268038/82605507-e049e800-9b6a-11ea-99b8-d8c9d385d2ab.png">

[2020-05-22 12:22] andreaseriksson commented on #120
I just reinstalled my computer and got this error. Can it be Elixir related?

[2020-05-22 13:52] andreaseriksson commented on #120
Its an issue with hackney and OTP 23.
I added this and it works for now:
[code]

[2020-05-25 05:55] neilberkman opened #121 "Authorized with Failure"
[code]

Receiving both the data requested and also error struct at the same time using both Github and Google providers.

Github error:

[code]

Google error:

[code]

[2020-06-01 11:27] Hanspagh commented on #120
Seems to be fixed for now. Closing

[2020-06-01 11:27] #120 closed

[2020-06-11 18:34] ramyma commented on #65
I'm having the same problem; I'm accessing the Phoenix app on port 80 through nginx on port 443, and I want to make the callback the URL use the HTTPS scheme.
I've added `proxy_set_header X-Forwarded-Proto $scheme;` as @jabberfest suggested to my nginx config but to no avail.
I also tried adding `callback_scheme: "https"` to the provider config but as mentioned here in the thread it's linked someh

[2020-06-12 00:19] ramyma commented on #65
Actually adding `proxy_set_header X-Forwarded-Proto $scheme;` in the location block in the nginx config did the trick. I had some other error in my code that got me mixed up!

So if anyone is looking scratching their heads, here's how you should have your nginx config set:
[code]

Replace `8888` with your desired port.

I hope this helps.

[2020-10-13 15:53] rlb3 commented on #121
I have the same error with github.

Hex:    0.20.5
Elixir: 1.11.0
OTP:    23.1.1

[2020-10-20 08:16] Hanspagh commented on #117
Closed by #118

[2020-10-20 08:16] #117 closed

[2020-11-03 11:13] tykayn opened #124 "Request to add the OpenStreetMap strategy i made"
i made an OSM strategy for ueberauth
https://forge.tedomum.net/tykayn/ueberauth_openstreetmap

if anyone would test it and add it in the list of strategies if this works well for you, that would be great :)

[2020-11-07 07:25] createdbypete opened #125 "Is Ueberauth vulnerable to CVE 2015 9284?"
Stumbled across this when browsing the Omniauth repo the other day and thought I'd ask here as it seemed quite important.

- https://github.com/omniauth/omniauth/wiki/Resolving-CVE-2015-9284

The above wiki outlines a resolution for Omniauth but there is also links to the CVE and PR (that's been open since 2015, the merging of the resolution seems stalled due to it being a big breaking change?) wh

[2020-11-08 18:19] Hanspagh commented on #125
Hi @createdbypete
Thanks for the link.

I had a quick look at the code base and does in fact look like the request phase is done with a get request.
https://github.com/ueberauth/ueberauth/blob/bfa98c259dc2edd72ef77ac038187e8cf1bc70c5/lib/ueberauth.ex#L339

I will have a closer look one of the following days

[2020-11-15 19:12] pini-gh opened #126 "Hox about renaming Keycloak strategy to OIDC or OpenIDConnect"
The Keycloak strategy actually relates to OIDC which is not specific to Keycloak. I've used it successfully to authenticate with LemonLDAP::ng as OIDC provider.

Renaming it to OIDC or OpenIDConnect would advertise its capabilities better than its current name does.

[2020-12-08 03:36] BobbyMcWho commented on #125
Hello, it does indeed appear that Ueberauth is susceptible to this kind of attack.

Since the threads and history of that vulnerability are long and old, let me try to sum it up:

We have **MyApp**, an elixir app using Ueberauth.
We have **ProviderApp**, a 3rd party application that functions as an OAuth Provider.
We have **D.Victim** who has unfortunately become the target of this attack.

Provid

[2020-12-08 04:30] BobbyMcWho commented on #125
In a phoenix app, as long as your auth routes are piping through Phoenix's [protect_from_forgery](https://github.com/ueberauth/ueberauth_example/blob/master/lib/ueberauth_example_web/router.ex#L11) plug, you should be able to mitigate this by:
- changing your [get](https://github.com/ueberauth/ueberauth_example/blob/master/lib/ueberauth_example_web/router.ex#L22) route to a post
- changing your [l

[2020-12-08 12:43] Hanspagh commented on #125
Thank you @BobbyMcWho for going into detail with this.

I think it is important to mention this vulnerability is ONLY relevant when the flow of the app is to add an alternate identity to an already logged-in account when signing in with another identity than the currently logged-in one.

So only clients following that flow are vulnerable to this.

I think the biggest issue right now is that the re

[2020-12-08 14:52] BobbyMcWho commented on #125
Right, I just merged some changes into a 2_0 branch of omniauth that will fix the default-vulnerable state by using POST as the only allowed request method by default

[2020-12-20 21:00] Hanspagh commented on #124
Feel free to open a PR for this 👍

[2020-12-20 21:02] Hanspagh commented on #15
Loosely related to #125

[2020-12-20 22:01] Hanspagh commented on #126
Hi @pini-gh
I think that would be great
Would you have the time to change the Keycloak to a more general OIDC client?
I think it is mostly the naming that needs to be changed to avoid the confusion with Keycloak?

[2020-12-20 22:15] Hanspagh commented on #65
Having `X-Forwarded-Proto` when using a reverse proxy is quite common, and I don't see a reason for adding a config for this current. Fell free to reopen if this continues to be an issue.

[2020-12-20 22:15] #65 closed

[2020-12-20 22:48] pini-gh commented on #126
Hi,
Unfortunately I can't take care of that. I'm not a web developer and I don't know elixir at all. I just stumbled upon Ueberauth while configuring a Mobilizon [1] instance to authenticate via OIDC / LemonLDAP::ng.
[1] https://joinmobilizon.org/en/

[2020-12-20 23:22] tykayn commented on #124
yup, but I still need to test it out, since OSM uses oauth1 standard. if anyone could also check it out. I didn't achieve to make it work by now.

Baptiste LEMOINE - Dirigeant de [Cipher Bliss.com][] ,

\-------

[![image][]][image 1]

Tel 0185461173 / Signal [0627130837][] , [Telegram: Tykayn][Telegram_ Tykayn] , Mastodon: [@tykayn][tykayn], Riot: @tykaynchu:matrix.org N° SIRET: 79942416300035 GP

[2020-12-22 14:09] Hanspagh commented on #121
Hi @neilberkman & @rlb3
Sorry for the delay on this. I have tried to investigate this, the only reason I can find for this is if the full callback phase is run multible times per request. In this case the conn would already have ether of the two responses and the 2. call would add the the other one

Do you by any chance have a more eloborate example of this (Repo or code)?

[2020-12-22 16:02] doomspork commented on #121
@neilberkman / @rlb3 / @Hanspagh is this consistently happening with every request?

There's a couple of reasons off the top of my head where this could potentially originate:
- Expired tokens. This could occur if a user delays in authorization.
- Mismatched callback URI. Are you setting one in the developer settings of the provider and then providing one via Ueberauth?
- A permission is denied (o

[2020-12-22 17:15] Hanspagh opened #128 "Github Action to release version"

[2020-12-22 17:17] Hanspagh commented on #121
@doomspork
I think all those a valid reasons to fail, I can just not wrap my head around why we would both end up with a `ueberauth_failure` and a `ueberauth_auth` in the same `conn`. For me, this only seems to be possible if we run the pipeline twice.

[2021-03-04 14:37] chulkilee commented on #128
Probably starting with CI first?

Also check out [Earthly](https://earthly.dev/) (which is used by [phoenix](https://github.com/phoenixframework/phoenix)) - instead of Makefile, which would be useful for local testing like CI env.

[2021-03-05 16:29] psantos10 opened #134 "function BlogWeb.AuthController.request/2 is undefined or private"
I am trying to setup ueberauth with github as the provider.

I added both dependencies:

[code]

Also added them as extra_applications:

[code]

on config/config.exs, at the end, I added:

[code]

Add these changes to my router.ex

[code]

And I created a controller (auth_controller.ex):

[code]

But when I try to visit http://localhost:4000/auth/github, instead being redirected to github page, th

[2021-03-05 17:22] jclem opened #135 "Prevent CSRF Using state Parameter"
**Preface**: I am not a security professional. This recommendation is based on my own limited experience implementing the client side of the OAuth 2.0 flow and my research into various implementations. I highly recommend this issue and any subsequent PRs are reviewed by someone that knows more about this than me. 😄

One place where Ueberauth does not currently appear to satisfy the OAuth 2.0 speci

[2021-03-05 17:24] psantos10 commented on #134
Had a typo

[2021-03-05 17:24] #134 closed

[2021-03-06 21:45] yordis commented on #135
Currently, each client will have to deal with this, therefore, the issue will be in particular clients that don't respect such specification.

I am thinking of adding a callback that turns off the validation of such params, so we must add such callback to each strategy.

As of today, clients will have to deal with passing the param in the URL, for example: https://github.com/ueberauth/ueberauth_gi

[2021-03-06 22:45] yordis commented on #135
Also, https://github.com/omniauth/omniauth-oauth2/blob/8438b89b712e03337932a0d95096258c892ea0f3/lib/omniauth/strategies/oauth2.rb#L75 seems to use the session for this, although from reading the spec, they recommend cookies.

[2021-03-21 11:45] djschilling commented on #121
I have the same problem using the github provider.

What does the error message exactly mean?

[code]

Which code is referred to hear. Is it the `client_id`, `client_secret` or none of those two?

[2021-04-13 20:31] evadne commented on #125
The workaround if you use Ueberauth  is as follows (tested against 0.6.3)

1. Change stanzas in your router to only have POSTs, e.g. `post "/:provider", AuthController, :request`
2. Change all of your auth views to POST the request (if you use the helper from Phoenix.HTML then CSRF and submission via POST is taken care of) e.g. `link(to: Routes.auth_path(@conn, :request, "google"), method: "POST"`

[2021-04-13 20:47] yordis commented on #125
Is this related to https://github.com/ueberauth/ueberauth/pull/136 ?

[2021-04-17 16:32] kuroski commented on #121
I was facing the same problem and in my case, I was following a tutorial in a blog regarding authentication with Phoenix...

Then by reading the docs here and checking the [ueberauth_example](https://github.com/ueberauth/ueberauth_example)
I managed to solve this problem just by removing the `plug Ueberauth` in my `router.ex` file.

[2021-04-17 17:00] evadne commented on #125
@yordis Hi, thanks. I think it is related and you have solved it in a proper manner by ferrying a token along in Ueberauth while my workaround required Phoenix to do the CSRF work.

[2021-04-17 22:29] #135 closed

[2021-04-17 23:27] yordis commented on #125
@evadne should this be considered "fix"? (we still need to release the package and fix the clients)

[2021-04-21 15:31] doomspork commented on #121
@kuroski do you recall which blog post?

[2021-04-21 15:38] kuroski commented on #121
I'm really sorry, but I'm currently not finding that 😞  and I don't recall where I read it through.

[2021-04-21 16:54] doomspork commented on #121
No worries. If you recall later just let us know. I'd like to follow-up and get it updated :grin:

Hopefully I will get around to updating the Guardian / Ueberauth content on Elixir Shcool this year after we roll out the new site :crossed_fingers:

[2021-07-11 12:33] Sinha-Ujjawal opened #140 "Using with liveview"
Any example how to use this with liveview?

[2021-07-22 12:02] yordis commented on #140
Hey there, please move the conversation to Discussions, I opened the feature so we keep this for ticketing

[2021-07-22 12:02] #140 closed

[2021-07-22 20:36] Hanspagh commented on #125
I agree, this should be solved by the clients that now use the CSRF check.
Since no adversary would be able to inject a CSRF token into the session, any unintended loading of get request to `myapp.com/auth/provider_app` would not parse the CSRF check.

Only get requests generated by the app would have a valid CSRF token. We could argue that an adversary could start a login flow on the victim's PC,

[2021-07-25 02:24] #125 closed

[2021-07-27 14:47] skylerparr commented on #135
Would it be possible to describe to me an example on how to use this when using `xhr`? I've been digging around this PR for a couple of days trying to understand it better and I'm having a hard time groking how this works with `xhr`.

[2021-07-30 03:32] collegeimprovements opened #143 "Erlang OTP-24 support"
Does ueberauth support `OTP-24` ?
We get the following error when we try to run with OTP-24,

[code]

Please update `plug_crypto` lib to fix this issue.

[2021-07-30 04:49] #143 closed

[2021-08-21 20:07] starkeepers opened #146 "incorrect route prefix construction"
When running (a phoenix app) under a path with several segments, such `example.com/a/b/`, and keeping the standard routes for ueberauth, ie `example.com/a/b/auth/:provider`, the private function `Ueberauth.run/2` miscalculates the path, creating  `example.com/ab/auth/:provider` instead. This is because of:

`to_request_path  = Path.join(["/", conn.script_name, options.request_path])`

where `conn.

[2021-09-01 16:58] AlekKras commented on #135
Pinging @yordis and @Hanspagh on some examples of how to use `xhr` with regards to CSRF ^

[2021-09-03 23:26] seungjinRonin commented on #135
Question on this. We need to enable SMART on FHIR OAuth2, and cookies is not what will be used - only the `state` parameter. Would I need to turn off the feature and implement the `state` comparison to be only in the parameters, not cookie? Right now I'm getting `ueberauth_failure` on the callback because cookie doesn't exist with `state` key.

[2021-09-13 21:34] axelson commented on #70
Can we re-open this since it isn't actually fixed? (as far as I can tell)

[2021-09-13 21:46] yordis commented on #70
@axelson done

[2021-09-22 23:53] Ajwah commented on #135
@yordis @Hanspagh I am currently handling CSRF myself which now with version `0.7` breaks everything. I need to be able to set the state param myself or either disable the CSRF at `config.exs`-level.

Which solution do you prefer for me to attempt a PR?

[2021-09-23 01:58] yordis commented on #135
I would suggest letting Ueberauth handle it unless you have a strong reason against it.

You can always opt-out from it by disabling the CSRF check, which I wouldn't recommend to do

[2021-09-23 12:30] Ajwah commented on #135
Currently this is only possible for someone who is implementing an `UeberAuth.Strategy`. But what about the user of a library, such as `ueberauth_google` etc. ? We have no way to disable `CSRF`-mitigation. The reason why I would like to disable it is because:
1. I already have implemented `CSRF`-mitigation
2. The implementation by this library contradicts certain desired functionality that my appl

[2021-09-23 16:32] yordis commented on #135
I am not on board with the libraries adding a configuration because some people decided to overwrite how it works.

If the library itself has a bug and/or some security concern, we should address it.

But for this particular case, what is the problem with removing your custom code that supposes to be fixed by this? Is there any problem with the value supplied at the moment?

[2021-09-23 16:40] Ajwah commented on #135
My usecase requires I need to have access to that random value before the
oauth flow happens and after the callback has returned.

On Thu., Sep. 23, 2021, 12:32 p.m. Yordis Prieto, ***@***.***>
wrote:

[2021-09-23 16:42] yordis commented on #135
I am sorry, but I can't understand the use case based on that. I don't have any context about the Why and What; that response just let me know the How.

Would you mind sharing more details about the use case, primarily around What and Why?

[2021-10-01 09:03] arjan commented on #135
You could indeed use the state parameter to tack application-specific state back into the flow once the user authenticates. However the RFC says you "should" use it for CSRF which is precisely what 0.7 now does. Any other state variables could also go into a cookie or session.

In my [PR for the Facebook strategy](https://github.com/ueberauth/ueberauth_facebook/pull/65) I faced with this exact iss

[2021-10-02 20:45] yordis commented on #135
@arjan the reason we let people even configure that today is to avoid having to have breaking changes (obviously breaking changes from our perspective because some people did the right thing, I am sorry)

But this is not one of those things that we should let people disable, if some people feel strongly about it, then I would suggest creating your own custom implementation of a provider.

I hope y

[2021-10-02 21:02] arjan commented on #135
Yes I fully agree actually, it's just that in that particular PR I removed the ability to pass the state parameter, which is fine by me but it was also explicitly mentioned in the readme (removed that section as well) so I was just wondering whether I maybe did miss a use case.

[2021-10-02 21:11] yordis commented on #135
Right right, having a multi-repo is hard to maintain over time, I am trying to clean things one repo at the time; doing what I can.

[2021-11-03 13:20] Awlexus opened #148 "Allow strategies to set SameSite value of state param cookie"
I'm currently trying to update ueberauth_apple to use ueberauth 0.7 and add csrf protection, but I'm running into a problem, because Apple uses a javascript when performing the POST request to the callback_url.

Would it be possible to allow strategies to define the SameSite value? In the meantime, I will set ignores_csrf_attack for now and add my own cookie

[2021-11-03 18:03] yordis commented on #148
PR welcome if you have something in mind

[2021-11-15 00:19] nbw opened #149 "a state param"
Responding to @yordis's comment in [this thread](https://github.com/ueberauth/ueberauth_facebook/pull/65)

## Feature:

It would be nice to have the ability to use a "state" param, whilst maintaining CSRF protection changes mentioned below.

## Context:

[Prevent CSRF Using state Parameter](https://github.com/ueberauth/ueberauth/issues/135) was fixed by [136](https://github.com/ueberauth/ueberauth

[2021-12-12 05:00] connorjacobsen opened #150 "Can't mock out Ueberauth.Strategy in 0.8.0"
In `0.6.3` we used to be able to mock out the `Ueberauth.Strategy` (with `Mox` or otherwise), but in `0.8.0` we cannot because there is no way to mock out the `default_options/0` function.

Are there any other recommended testing strategies that don't require mocking out the `Ueberauth.Strategy` module?

[2021-12-12 07:36] yordis commented on #150
Would you mind expanding the issues you are facing?

[2021-12-13 20:09] connorjacobsen commented on #150
Specifically, I am using some of the other packages from ueberauth (such as `ueberauth_google`, etc) in my application and I would like to be able to test the login flow (which uses these packages). In `0.6.3` I was able to use `Mox` and mock out the `Ueberauth.Strategy` module. However, in `0.8.0`, the `default_options/0` gets squirted into any modules that `use Ueberauth.Strategy`, but it is def

[2021-12-13 21:34] yordis commented on #150
Right, I understand what is happening but not why it is happening, I haven't used Mox myself, so I am not sure what the precise issue is in order to help you.

Maybe share some basic setup, error log, or something.

[2021-12-13 23:30] connorjacobsen commented on #150
Ah, sorry. Mox effectively works by using a stubbed implementation of an elixir `behaviour` and you can intercept the functions when they are exercised by your tests. You _cannot_ mock out functions that are not part of the mocked behaviour.

So I can intercept and handle methods like `handle_request!` and `handle_callback!` without issue. But since `default_options/0` is the a public method in `U

[2021-12-13 23:55] yordis commented on #150
For the most part, I am actually curious to know what are you trying to test, since it wouldn't be clear to me why you would test ueberauth itself, but rather the result of it.

In case you want to do the integration test, then I would swap the implementation to some "in-memory" or some simple implementation of an actual strategy rather than mocking.

So I am not sure, trying to put some example r

[2021-12-15 09:51] hamza-debug commented on #121
config :ueberauth, Ueberauth,
providers: [
 github: {Ueberauth.Strategy.Github, [default_scope: "user,public_repo,notifications"]}
]
 add this in config.ex file

[2021-12-28 18:00] UsamaHaide0786 opened #151 "nil given for :email. Comparison with nil is forbidden as it is unsafe. Instead write a query with is_nil/1, for example: is_nil(s.email)"
Trying to login via Facebook getting this error google and GitHub working fine not sure why this is happening

[2021-12-29 02:05] yordis commented on #151
duplicate https://github.com/ueberauth/ueberauth_facebook/issues/67

[2021-12-29 02:05] #151 closed

[2022-01-03 19:16] scrogson opened #152 "OAuth2 needs new maintainers"
Hey folks! I haven't been able to give OAuth2 the TLC it needs and wanted to checkin to see if this might be a project we'd like to rollup under the Ueberauth org?

If so...I can transfer the repo here and give hex access to whomever is responsible for cutting new releases.

Thoughts?

[2022-01-03 20:15] Hanspagh commented on #152
I think it should like something we can take of.

[2022-01-03 21:54] doomspork commented on #152
Sounds good to me @scrogson 👍

[2022-01-03 22:41] yordis commented on #152
I can take care of the release part of it, just let me know once it is done.

[2022-01-03 22:44] scrogson commented on #152
Repo has been transferred: https://github.com/ueberauth/oauth2
And transferred ownership on hex to the `ueberauth` org.

Thanks y'all, I know this library will be in good hands. ❤️

[2022-01-03 22:44] #152 closed

[2022-01-18 21:12] Hanspagh commented on #149
Hi @nbw.
I have been reading about this lately, and found this documentation from Auth0 https://auth0.com/docs/secure/attack-protection/state-parameters

It seems to be valid usecase to use the state, but you should rather use the state nonce as a look up value. Maybe we should provide some funtionality to get the state noce stored in the cookie

[2022-01-18 21:14] Hanspagh opened #153 "State nonce cookie should properly be signed"
Reading auth0.com/docs/secure/attack-protection/state-parameters it is suggested that the state once for CFSF protected in stored in a signed cookie, to my understanding this is not the case at the moment.

[2022-01-25 04:23] yordis commented on #153
@Hanspagh what part is the one we are missing, here is the line https://github.com/ueberauth/ueberauth/blob/7ebc0aeeb17d0953bdc53a01018307fb03e0b189/lib/ueberauth/strategy.ex#L391

Is there an extra configuration we need to pass to `Conn.put_resp_cookie`?

[2022-01-25 04:30] yordis commented on #149
Take it with a grain of salt, because I never used the `state` that way, so please help me to help you.

When you are `Connecting` you have an authenticated user. While Sign/Login there is no authenticated user `until` you successfully `find or create` a user and respond with a session.

So, would it make sense to

1) Check if the user authenticated
  1.1) Get the authenticated account.
  1.2) Try

[2022-01-25 06:10] nbw commented on #149
No worries. If I could not use the state param then that'd be better for me, so. I'm totally open to solutions.

**The assumption I making is that the only way to identify the user is by their email which is returned by the auth, but if there's a better way then I'm all for it (`%UeberAuth.Auth{info: %{email: email}`).**

1. Sign up doesn't require a state param. Like you said, you find or create

[2022-01-25 06:37] yordis commented on #149
In the worst case, yes, you would use cookies related to your business use case instead of mixing it with the `state` since that has a technical concern from auth perspective.

[2022-02-24 20:43] revoltaxz commented on #150
I'm with same problem here! I was updated my deps `{:ueberauth_google ~> 0.10.0}` and `{:ueberauth ~> 0.7.0}`, after that my tests failed and return undefined error (error below):

[code]

So

[2022-02-24 21:58] yordis commented on #150
Hey peeps, do you mind testing https://github.com/ueberauth/ueberauth/pull/154 and sharing some 1+?

[2022-02-25 14:21] revoltaxz commented on #150
I was tested and my tests failed again, because returns a `csrf_token error` (error below). Is necessary add another config?

[code]

[2022-02-25 23:19] yordis commented on #150
Well, this is expected if you didn't pass back the state, not sure what you are doing in your test case

[2022-03-24 09:25] shahryarjb opened #156 "How can run Ueberauth plug directly?"
Hi, Dear maintainer and Contributor,
I have a controller function named login which uses protocol to be modular, hence I need to run Ueberauth plug directly, but I do not know how

Please see my code:
[code]

I try to call `Ueberauth.call(conn, routes)` but I do not know what is the routes to prepare its requirement. So I can not redirect to google or the other providers.
[code]

## My controller

[2022-03-24 12:29] yordis commented on #156
The solution would be applicable to any `Plug`, so I am not sure what your issue is precise since you already did what I had in mind.

1. Call the `init` function https://github.com/ueberauth/ueberauth/blob/7ebc0aeeb17d0953bdc53a01018307fb03e0b189/lib/ueberauth.ex#L272
2. Call the `call` function https://github.com/ueberauth/ueberauth/blob/7ebc0aeeb17d0953bdc53a01018307fb03e0b189/lib/ueberauth.ex#

[2022-03-24 12:29] #156 closed

[2022-03-24 14:38] shahryarjb commented on #156
Hi Dear @yordis, I did not mean that there is a problem with your library.
For this problem, we should change `conn` like this:

[code]

[2022-03-24 14:47] yordis commented on #156
@shahryarjb use https://github.com/ueberauth/ueberauth/discussions/categories/q-a to ask questions instead. So we keep the Issues related to feature work and bugs.

[2022-03-29 18:47] jamilbk opened #158 "Custom `callback_port` and `callback_scheme` not used"
### Steps to Reproduce

1. Set `callback_port` or `callback_scheme` to something other than what the Plug.conn pulls from the headers or Endpoint:
[code]
3. Observe that the Plug.conn values are still used when generating the `callback_url` for sign in buttons, etc:
[code]

Other `callback_` options take effect, just not `callback_url` and `callback_scheme`. This is breaking email / password authe

[2022-03-30 18:22] jamilbk commented on #158
Looks like this functionality is in `master` but hasn't made it into a release yet. Looking forward to the next release :-).

[2022-03-30 18:22] #158 closed

[2022-04-07 16:05] #150 closed

[2022-04-23 10:06] kcirtaptrick commented on #89
Has there been any progress on this? I'd be happy to help with this, but would need some direction

[2022-05-27 14:51] fuelen commented on #150
The issue is still present.

I've tried v0.9.0 and cannot mock the module with Mox, as function `auth/1` is unknown.
`auth/1` is called only if `handle_callback!` assigns `ueberauth_failure` or `ueberauth_auth` structs.

I think it is better not to generate `auth/1` function and define it in another module with the following signature `auth(Plug.Conn.t(), module())`.
WDYT? @yordis

[2022-05-27 17:29] yordis commented on #150
@fuelen that sounds correct, do you mind creating a PR, with some testing reflecting the issue?

[2022-06-18 18:11] #148 closed

[2022-06-27 05:19] Ajwah commented on #153
@yordis

The details are here: https://hexdocs.pm/plug/Plug.Conn.html#put_resp_cookie/4-signing-and-encrypting-cookies

I have been looking into the security exploitations of this vulnerability. If the cookie is not signed, then I believe you are setting the users of this library open to a callback url attack, and allow the attacker to impersonate any user.

The assumption of the security of the s

[2022-07-05 02:49] williamweckl opened #165 "Callback URL not mounted right when router has nested paths"
### Context

I have an umbrella application that uses Ueberauth in one of my apps inside the umbrella. The provider being used is facebook.

I was using callback_url option to set my URLs, but recently I've changed the way I'm releasing my applications and the new way is using the same release build both for staging and production environments.

It happened that this change affected the facebook a

[2022-07-05 23:51] #165 closed

[2022-07-05 23:51] yordis commented on #146
closed by #166

[2022-07-05 23:51] #146 closed

[2022-08-14 21:11] alexgleason opened #170 "Can't set strategy options at runtime"
### Steps to Reproduce

1. Configure a strategy at runtime, eg:

[code]

2. Try to log in.
3. The `default_scope` still uses the default from the strategy.

### Expected Result

Calling `Ueberauth.Strategy.Helpers.options/1` always returns the current options at runtime.

### Actual Result

Strategy options are set at compile time and runtime configuration isn't respected.

[2022-10-28 03:23] MTheProgrammer opened #172 "Line Login v2.1 update request which I've done"
### Problem Statement

Hi, I've created an updated ingegration for Line Login that supports their new API v2.1. Current integration does not work and the maintainer is not responding. Shall I add this as a new integration or replace the old url?

It needs some polishing yet, however I should be done with it soon:
https://github.com/LucidModules/ueberauth_line

### Solution Brainstorm

_No response

[2022-10-28 03:55] yordis commented on #172
Maybe @alexfilatov would prefer to move the implementation under Ueberauth organization 🤷🏻

[2022-10-28 05:39] alexfilatov commented on #172
Happy to do so @yordis

[2022-10-28 05:45] alexfilatov commented on #172
@MTheProgrammer sorry, looks like I missed your PR completely, just merged, thank you! 🙏

[2022-10-28 06:33] MTheProgrammer commented on #172
@alexfilatov Thank you, I had to rewrite the library because Line Login API v2.1 does not return necessary user details. You have to request it from another endpoint.
I haven't yet resolved the optional nonce check feature which strengthens the security. As I am relatively fresh to Elixir would you mind providing your insights on how to implement that feature? Whether a GenServer is sufficient or

[2022-11-18 13:40] fuelen opened #173 "Gracefully handle unknown providers"
### Steps to Reproduce

1. Setup Ueberauth according to README
2. go to /auth/unknown_provider

### Expected Result

404 error

### Actual Result

500 error

[2022-11-30 09:05] mustela commented on #170
Having the same issue... has anyone have any tip to configure it in runtime? Thanks!